
<!-- header section ends -->

<!-- view property section starts  -->

<section class="view-property">

    <div class="details">
       <div class="thumb">
          <div class="big-image">
             <img src="assets/images/house-img-1.webp" alt="">
          </div>
          <div class="small-images">
             <img src="assets/images/house-img-1.webp" alt="">
             <img src="assets/images/hall-img-1.webp" alt="">
             <img src="assets/images/kitchen-img-1.webp" alt="">
             <img src="assets/images/bathroom-img-1.webp" alt="">
          </div>
       </div>
       <div class="pb-xxl-4">
       <h2 class="h3 box pb-xxl-2">Tên DỰ ÁN</h2>
       <h4 class="location-details">{{estate.projectId}}</h4>
  
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-7 col-md-12 pb-xxl-4">
          <h2 class="h3 box pb-xxl-2">Details</h2>
          <h4 class="location-details pb-xxl-1">rooms :<span> 2 BHK</span></h4>
          <h4 class="location-details pb-xxl-1">deposit amount :<span> 0</span></h4>
          <h4 class="location-details pb-xxl-1">status :<span> ready to move</span></h4>
          <h4 class="location-details pb-xxl-1">bedroom :<span> 3</span></h4>
          <h4 class="location-details pb-xxl-1">bathroom :<span> 2</span></h4>
          <h4 class="location-details pb-xxl-1">balcony :<span> 1</span></h4>
        </div>
        <div class="col-lg-4 col-md-8 pb-xxl-4 pb-xxl-4">
          <h2 class="h3 box pb-xxl-2">ĐẶT CỌC:</h2>
          <h4 class="h2 pb-xxl-1">50.000.000 <span>VND</span></h4>
          <h4 class="location-details pb-xxl-1">Lưu ý</h4>
          <h4 class="location-details pb-xxl-1">Nếu 30 ngày sau kể từ khi đặt cọc nếu quý khách không thanh toán sẽ mất cọc</h4>
        </div>
      </div>
        <h3 class="h2">Description</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate aliquid ipsum recusandae maxime nisi, velit eaque, libero, exercitationem culpa accusamus. Neque dolor quaerat modi saepe facere dignissimos temporibus molestias.</p>
        <div>
          <button type="button" class="btn btn-xs btn-primary" (click)="daDangNhap(id)">Buy</button>
        </div>
  
    </div>
  
  </section>
  